@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    background-color: #c0ebff;
    max-width: 1200px;
    margin: auto;
    font-family: 'Poppins', sans-serif;

}

header {
    width: 300px;
    position: fixed;
    top: 25px;
    left: 25px;
    text-align: center;
}

nav {
    background-color: blanchedalmond;
    width: 300px;
    position: fixed;
    top: 300px;
    left: 25px;
    text-align: center;
}

main {
    width: 650px;
    margin-left: 500px;
}

section {
    border: 1px black solid;
    margin-top: 25px;
    padding: 25px;
    text-align: center;
    background-color: antiquewhite; 
    border-radius: 20px;
}

section img {
    border: 1px black solid;
    padding: 5px;
}

section:hover{
    -ms-transform: scale(1.10); /* IE 9 */
    -webkit-transform: scale(1.10); /* Safari 3-8 */
    transform: scale(1.10);
}

footer {
    background-color: bisque;
    width: 300px;
    position: fixed;
    bottom: 25px;
    left: 25px;
}

#splashpagegif{
    margin-top: 225px;
    text-align: center;
}

#splashpagegif:hover {
    -ms-transform: scale(1.25); /* IE 9 */
    -webkit-transform: scale(1.25); /* Safari 3-8 */
    transform: scale(1.25);
}

p {
    text-align: center;
}