@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    background-color: #fff3f5;
    max-width: 1200px;
    margin: auto;
    font-family: 'Poppins', sans-serif;

}

h2 {
    text-align: center;
}

header {
    width: 25%;
    position: fixed;
    top: 15px;
    left: 25px;
    text-align: center;
}

nav {
    background-color: pink;
    width: 25%;
    position: fixed;
    top: 300px;
    left: 25px;
    text-align: center;
    border-radius: 20px;
}

main {
    width: 75%;
    margin-left: 500px;
    bottom: 25px;
}

section {
    border: 1px black solid;
    width: 400px; 
    margin-top: 25px;
    padding: 25px;
    text-align: center;
    background-color: antiquewhite; 
    border-radius: 20px;
}

section img {
    width: 350px; 
    border: 1px black solid;
    padding: 5px;
}

section:hover{
    -ms-transform: scale(1.10); /* IE 9 */
    -webkit-transform: scale(1.10); /* Safari 3-8 */
    transform: scale(1.10);
    box-shadow: 0 0 11px rgba(33,33,33,.2);
    background-color: palevioletred;
    color: white;
}

footer {
    background-color: bisque;
    width: 25%;
    position: fixed;
    bottom: 25px;
    left: 25px;
    border-radius: 20px;
}

#splashpagegif{
    margin-top: 225px;
    text-align: center;
}

#splashpagegif img:hover {
    -ms-transform: scale(1.25); /* IE 9 */
    -webkit-transform: scale(1.25); /* Safari 3-8 */
    transform: scale(1.25);
}

p {
    text-align: center;
}