@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@font-face {
    font-family: 'Magic Retro';
    src: url(fonts/Magic\ Retro.ttf);
}

body{
    background-color:#869f77;
    max-width: 1200px;
    margin: auto;
    font-family: 'Poppins', sans-serif;
}

/*#fff3f5*/

h2 {
    text-align: center;
    font-family: 'Magic Retro';
    font-size: 45pt;
    color: #ffddd6;
}

header {
    width: 300px;
    position: fixed;
    top: 25px;
    left: 30px;
    text-align: center;
}

header h6{
    text-align: center;
    font-size: xx-large;
}

nav {
    background-color: #588061;
    width: 300px;
    position: fixed;
    top: 19%;
    left: 25px;
    text-align: center;
    border-radius: 20px;
}

nav h3{
    font-family: 'Magic Retro';
}

nav a{
    width: 200px;
    border-radius: 50px;
}

a {
    text-decoration: none;
    font-size: medium;
    font-weight: 600;
    color: whitesmoke;
    font-style: oblique;
}

a:visited {
    text-decoration: none;
    color: none
}

.pinkhover:hover {
    background-color: white;
    -ms-transform: scale(1.10); /* IE 9 */
    -webkit-transform: scale(1.10); /* Safari 3-8 */
    transform: scale(1.10);
    color: lightcoral;
    width: 250px;
    margin: auto;
    border-radius: 50px;
    text-align: center;
    font-size: 13pt;
    margin-bottom: 20px;
}

main {
    background-color: antiquewhite;
    width: 1200px;
    min-height: fit-content;
    margin-top: 50px;
    margin-left: 250px;
    margin-bottom: 50px;
    padding-bottom: 100px;
    top: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    position: relative;
    border-radius: 20px;
    border: 2px #588061 solid;
}

section h1 {
    font-family: "Magic Retro";
    font-size: xx-large;
    text-align: center;
    padding-bottom: -5px;
    color: white;
}

section {
    width: 400px; 
    margin-top: 25px;
    margin-bottom: 25px;
    padding-bottom: 15px;
    padding: 50px;
    text-align: center;
    background-color: #f1b6ac; 
    border-radius: 20px;
}

section img {
    width: 400px; 
    border-radius: 20px;
}

section video {
    width: 400px;
    padding: 5px;
    border-radius: 20px;
}

section h4 {
    text-align: center;
    padding-top: 25px;
    font-size: 18pt;
    font-weight: 600;
    color: white;
}

section:hover{
    -ms-transform: scale(1.05); /* IE 9 */
    -webkit-transform: scale(1.05); /* Safari 3-8 */
    transform: scale(1.05);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
    color: white;
    background-color: palevioletred;
    font-size: 18pt;
    padding-block-start: 45px;
    border: 5px white solid;
}

.topcaption {
    padding-top: 10px;
    margin-top: 5px;
}

audio {
    text-align: center;
}

.scroll-top {
    position: absolute;
    top: 120vh;
    bottom: 3rem;
    right: -10rem;
    color: white;
}

.scroll-top_link {
    position: -webkit-sticky;
    position: sticky;
    top: 90vh;
    background-color: #588061;
    margin-right: 5px;
    border-radius: 20px;
    font-size: x-large;
    padding: 15px;
    color: white;
    margin-block-end: 15px;
    opacity: .1;
}

.scroll-top_link:hover {
    opacity: initial;
}

h3 {
    color: white;
    font-size: x-large;
}

audio{
    display: none;
}

h6{
    text-align: center;
    color: white;
}

footer {
    background-color: #fff3f5;
    width: 300px;
    position: fixed;
    bottom: 25px;
    left: 25px;
    border-radius: 20px;
    text-align: center;
    font-family: 'Magic Retro';
}

.pinktext{
    color: palevioletred;
    font-size: medium;
}

#button {
    color: white;
}

.right {
    position: relative;
    top: 100px;
}

#splashpagegif{
    margin-top: 225px;
    text-align: center;
}

#splashpagegif img:hover {
    -ms-transform: scale(1.25); /* IE 9 */
    -webkit-transform: scale(1.25); /* Safari 3-8 */
    transform: scale(1.25);
}