@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    background-color: #fff3f5;
    max-width: 1200px;
    margin: auto;
    font-family: 'Poppins', sans-serif;

}

h2 {
    text-align: center;
}

header {
    width: 300px;
    position: fixed;
    left: 25px;
    text-align: center;
}

header h6{
    text-align: center;
}

nav {
    background-color: pink;
    width: 300px;
    position: fixed;
    top: 250px;
    left: 25px;
    text-align: center;
    border-radius: 20px;
}

main {
    width: 85%;
    margin-left: 250px;
    top: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    position: relative;
}

section {
    border: 1px black solid;
    width: 400px; 
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 25px;
    text-align: center;
    background-color: antiquewhite; 
    border-radius: 20px;
}

section img {
    width: 400px; 
    padding: 5px;
}

section video {
    width: 400px;
    padding: 5px;
}

a {
    text-decoration: none;
    font-size: medium;
    font-weight: 600;
    color: #e75480;
}

a:visited {
    text-decoration: none;
    color: #e75480;
}

.pinkhover:hover {
    background-color: white;
    -ms-transform: scale(1.10); /* IE 9 */
    -webkit-transform: scale(1.10); /* Safari 3-8 */
    transform: scale(1.10);
    color: lightcoral;
    width: 300px;
    text-align: center;
}

section:hover{
    -ms-transform: scale(1.10); /* IE 9 */
    -webkit-transform: scale(1.10); /* Safari 3-8 */
    transform: scale(1.10);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
    background-color: palevioletred;
    color: white;
    font-size: larger;
}

footer {
    background-color: bisque;
    width: 300px;
    position: fixed;
    bottom: 25px;
    left: 25px;
    border-radius: 20px;
    text-align: center;
}

#splashpagegif{
    margin-top: 225px;
    text-align: center;
}

#splashpagegif img:hover {
    -ms-transform: scale(1.25); /* IE 9 */
    -webkit-transform: scale(1.25); /* Safari 3-8 */
    transform: scale(1.25);
}

section h4 {
    text-align: center;
    padding-top: 25px;
}

audio {
    text-align: center;
}

.scroll-top {
    position: absolute;
    top: 120vh;
    bottom: 3rem;
    right: -10rem;
}

.scroll-top_link {
    position: -webkit-sticky;
    position: sticky;
    top: 90vh;
    background-color: coral;
    margin-right: 5px;
    border-radius: 20px;
    font-size: x-large;
    padding: 15px;
    color: white;
    margin-block-end: 15px;
    opacity: .1;
}

.scroll-top_link:hover {
    opacity: initial;
}

h3 {
    color: white;
    font-size: x-large;
}

audio{
    display: none;
}

h6{
    text-align: center;
}